<h1>Angular Portfolio Items</h1>

<%= link_to "CREATE A NEW ITEM", new_product_path %>

<% @angular_products_items.each do |product_item| %>
  <p><%= link_to product_item.title, product_path(product_item)%></p>
  <p><%= product_item.subtitle%></p>
  <p><%= product_item.body%></p>
  <%= image_tag product_item.thumb_image unless product_item.thumb_image.nil?%>
  <%= link_to "Edit", edit_product_path(product_item) %>
  <%= link_to "Delete Item", product_path(product_item), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
